header{
    background-color: rgb(35, 32, 32);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.logo{
    margin-top: 2%;
    margin-right: 2%;
}

header nav{
    align-content: center;
    text-align: center;
}

.navi{
    font-size: 110%;
    color: rgb(246, 241, 241);
}

.navi:hover{
    color: rgb(25, 167, 206);
    transform: matrix3d(30px);
}

.order{
    overflow: hidden;
    color: rgb(35, 32, 32);
}

 body section a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body section{
    background-color: rgb(246, 241, 241);
}


.container{
    word-spacing: 5%;
}


  

footer{
    padding: 0%;
}

.contact{
    background-color: rgb(35, 32, 32);
    color: aliceblue;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.box-detail{
    font-size: x-large;
}

.text_field{
    border-radius: 5%;
}

.btn {
  appearance: none;
  background-color: rgb(246, 241, 241);
  border: 2px solid rgb(246, 241, 241);
  border-color: rgb(35, 32, 32);
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(35, 32, 32);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 15px 20px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 20%;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}













